@model IEnumerable<ProyectoCompuX.Models.Proveedor>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Proveedores</h2>

<p>
    @Html.ActionLink("Nuevo Proveedor", "Create", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm())
{
    <div class="d-flex align-items-center">
        @Html.Label("Nombre:", new { @class = "label-form me-2" })
        @Html.TextBox("Nombre", "", new { @class = "w-25 form-control form-control-sm me-2" })
        <input type="submit" class="btn btn-secondary mt-1 mb-1" value="Buscar" />
    </div>
}
<div>
    <span class="text-danger fw-bold">@ViewBag.mensaje</span>
</div>
<div>
    <span>Cantidad de Proveedores: @Model.Count()</span>
</div>
<table class="table w-100 table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>Opciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RUC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a href='@Url.Action("Edit", new { id = item.Id })' class="btn btn-warning">
                    <i class='fas fa-pencil-alt'></i>
                </a>
                <a href='@Url.Action("Details", new { id = item.Id })' class="btn btn-success">
                    <i class='fas fa-info-circle'></i>
                </a>
                <a href='@Url.Action("Delete", new { id = item.Id })' class="btn btn-danger">
                    <i class='fas fa-trash-alt'></i>
                </a>
            </td>
        </tr>
    }

</table>
